@import "../variables";

.button {
  border: none;
  border-radius: 20px;
  background-color: #0053af;
  color: white;
  padding: 11px 34px;
  margin: auto;
  display: block;
  cursor: pointer;

  @media screen and (min-width: $screen-l) {
    margin: initial;
  }
}
